<%=render partial: 'items/shared/header' %>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>

<div class="item__box-container">
  <h1 class="item-name">
    正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  </h1>
  <div class="item-main-content">
    <div class="item-image">

      <div class="active-image">
        <p>
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823">
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823">
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_3.jpg?1539045823">
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_4.jpg?1539045823">
        </p>
      </div>

      <div class="images">
        <ol>
          <li>
            <img class="item-image1" src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823">
          </li>
          <li>
            <img class="item-image2" src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823">
          </li>
          <li>
            <img class="item-image3" src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_3.jpg?1539045823">
          </li>
          <li>
            <img class="item-image4" src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_4.jpg?1539045823">
          </li>
        </ol>
      </div>

    </div>

    <div class="item-tabel">
      <table class="item-detail-table">
        <tbody>
          <tr>
            <th>
              出品者
            </th>
            <td>
              <a href="#">DPS(ぷーんです)＠大人ふるぎ養成講座</a>
              <div>
                <div class="item-user-raiting">
                  <i class="fa fa-grin"></i><span>618</span>
                </div>
                <div class="item-user-raiting">
                  <i class="icon fa fa-meh" style="yellow"><span>22</span></i>
                </div>
                <div class="item-user-raiting">
                  <i class="icon fa fa-frown"><span>3</span></i>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>
              カテゴリー
            </th>
            <td>
              <a href="#">レディース</a>
              <a href="#">
                <div class="sub-category">
                  <i class="fa fa-angle-right fa-lg"></i>
                  バッグ
                </div>
                <div class="sub--sub-category">
                  <i class="fa fa-angle-right fa-lg"></i>
                  ショルダーバッグ
                </div>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              ブランド
            </th>
            <td>
              <a href="#">コーチ</a>
            </td>
          </tr>

          <tr>
            <th>
              商品の状態
            </th>
            <td>
              やや傷や汚れあり
            </td>
          </tr>

          <tr>
            <th>
              配送料の負担
            </th>
            <td>
              送料込み(出品者負担)
            </td>
          </tr>

          <tr>
            <th>
              配送の方法
            </th>
            <td>
              らくらくメルカリ便
            </td>
          </tr>

          <tr>
            <th>
              配送元地域
            </th>
            <td>
              <a href="#">兵庫県</a>
            </td>
          </tr>

          <tr>
            <th>
              発送日の目安
            </th>
            <td>
              1~2日で発送
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

  <div class="item-price-box">
    <span class="item-price">¥ 3,380</span>
    <span class="item-tax">(税込)</span>
    <span class="item-shipping">送料込み</span>
  </div>

  <div class="item-buy-btn disabled">
    売り切れました
  </div>

  <div class="item-description">
    <p class="item-description-inner">

    ■商品ご覧頂き、誠にありがとうございます。
    ※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！

    私の商品検索は、
    #Boon・バッグ　
    検索してください。

    質問がありましたらコメントでよろしくお願いします！
    ■ 商品説明 ■
    まずはプロフを確認してください☆

    ■ 商品詳細 ■
    シンプルな落ち着いたお色味でどんな場面にも合い、
    どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが
    多少の汚れはあります。内側はとても綺麗です☆
    使わなくなったのでどなたか使っていただける方お願いします。
    製造番号　H2K-9294

    【ブランド】
    COACH　コーチ

    【商品名】
    コーチ大き目シンプル

    【仕様】
    外ポケット１　内ポケット４

    【サイズ】
    縦：32
    横：31
    幅：7
    紐：130 多少調節可能

    ＊他にも数多くの商品を出品しているので、ぜひご覧ください。
    ＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。
    ＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^
    ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
    、お願い致します^_^
    ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。

    #シンプル #かわいい #大き目 #かばん #バッグ
    </p>
  </div>

    <div class="item-button-list">
      <button type="button">
        <i class="far fa-heart"></i>
        <span>いいね！</span>
        <span>6</span>
      </button>

      <a class="flag" href="#">
        <i class="far fa-flag"></i>
        <span>不適切な商品の報告</span>
      </a>

      <a class="lock" href="#">
        <i class="fas fa-unlock-alt"></i>
        <span>あんしん・あんぜんへの取り組み</span>
      </a>
    </div>

  </div>

  <div class="item-detail-message">
    <div class="message-container">
      <div class="message-content">
        <%= form_with model: @comments do |form| %>

          <p>
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          </p>

          <%= form.text_area :comment %>

          <%= form.submit value="コメントする" %>
        <% end %>
      </div>
    </div>
  </div>

  <ul class="nav-item-link">
    <li class="nav-item-link-prev">
      <a href="#">
        <i class="fa fa-angle-left"></i>
        シャロンストーンDVD2枚組
      </a>
    </li>
    <li class="nav-item-link-next">
      <a href="https://item.mercari.com/jp/m94680218067/">
        シャロンストーンDVD2枚組
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>

  <%= render partial: 'items/shared/footer' %>
