= render partial: 'items/shared/header'

.search-container_5.clearfix
  .l-content_5
    .items-box-container_5.clearfix
      %h2.search-result-head_5 検索結果
      .items-box-content_5.clearfix
        - @items.each do |item|
          %section.items-box_5
            = link_to item_path(item), class: "white" do
              %figure.items-box-photo_5
                = image_tag item.image.image1.url, class: "is-higher-width_5 lazyloaded"
              .items-box-body_5
                %h3.items-box-name_5
                  = item.name
                .items-box-num_5.clearfix
                  .items-box-price_icon_5 ¥
                  .items-box-price_5
                    = converting_to_jpy(item.price)
                  .items-box-likes_5
                    %i.far.fa-heart_5
                    %span 2
                  %p.item-box-tax (税込)
  .l-side_5
    %form.search-extend-container_5
      .search-sort_5
        .form-group
          .select-wrap_5
            %select.select-default_5
              %option 並び替え
              %option 価格の安い順
              %option 価格の高い順
              %option 出品の古い順
              %option 出品の新しい順
              %option いいね!の多い順
            %i.fas.fa-angle-down
      .search-dropdown-content_5
        %h3.visible-large_5 詳細検索
        .form-group
          %label
            %i.fas.fa-plus
            %span キーワードを追加する
          = form_with url: search_items_path, class: "header__inner-upper-form right", method: :get, local: true do |f|
            = f.text_field :keyword, type: 'search', class: 'input-default', value: "#{params[:keyword]}"
            = button_tag type: 'submit', class: "keyword-search_box" do
              %i.fa.fa-search.keyword-search
        .form-group
          %label
            %i.fas.fa-list-ul
            %span カテゴリーを選択する
          .select-wrap
            %select.select-default{:name => "category_root"}
              %option{:value => ""} すべて
              %option{"data-root-id" => "1", :value => "1"} レディース
              %option{"data-root-id" => "2", :value => "2"} メンズ
              %option{"data-root-id" => "3", :value => "3"} ベビー・キッズ
              %option{"data-root-id" => "4", :value => "4"} インテリア・住まい・小物
              %option{"data-root-id" => "5", :value => "5"} 本・音楽・ゲーム
              %option{"data-root-id" => "1328", :value => "1328"} おもちゃ・ホビー・グッズ
              %option{"data-root-id" => "6", :value => "6"} コスメ・香水・美容
              %option{"data-root-id" => "7", :value => "7"} 家電・スマホ・カメラ
              %option{"data-root-id" => "8", :value => "8"} スポーツ・レジャー
              %option{"data-root-id" => "9", :value => "9"} ハンドメイド
              %option{"data-root-id" => "1027", :value => "1027"} チケット
              %option{"data-root-id" => "1318", :value => "1318"} 自動車・オートバイ
              %option{"data-root-id" => "10", :value => "10"} その他
            %i.fas.fa-angle-down
        .form-group.search-extend-brand_5
          %label
            %i.fas.fa-tags
            %span ブランド名から探す
          %input.input-default{"data-search" => "brand", :name => "brand_name", :placeholder => "例）シャネル", :type => "text", :value => ""}/
        .form-group
          %label
            %i.fas.fa-expand
            %span サイズを指定する
          .select-wrap
            %select.select-default{:name => "size_group"}
              %option{:value => ""} すべて
              %option{"data-root-id" => "1", :value => "1"} 洋服のサイズ
              %option{"data-root-id" => "2", :value => "2"} メンズ靴のサイズ
              %option{"data-root-id" => "3", :value => "3"} レディース靴のサイズ
              %option{"data-root-id" => "6", :value => "6"} スカートのサイズ
              %option{"data-root-id" => "7", :value => "7"} キッズ服のサイズ
              %option{"data-root-id" => "8", :value => "8"} ベビー・キッズ靴のサイズ
              %option{"data-root-id" => "9", :value => "9"} ベビー服のサイズ
              %option{"data-root-id" => "14", :value => "14"} テレビのサイズ
              %option{"data-root-id" => "17", :value => "17"} カメラレンズのサイズ
              %option{"data-root-id" => "12", :value => "12"} オートバイのサイズ
              %option{"data-root-id" => "13", :value => "13"} ヘルメットのサイズ
              %option{"data-root-id" => "11", :value => "11"} タイヤのサイズ
              %option{"data-root-id" => "18", :value => "18"} スキーのサイズ
              %option{"data-root-id" => "15", :value => "15"} スノーボードのサイズ
            %i.fas.fa-angle-down
        .form-group.search-price_5
          %label
            %i.fas.fa-database
            %span 価格
          .select-wrap
            %select.select-default{"data-search" => "price", :name => ""}
              %option{:value => ""} 選択してください
              %option{:value => "300-1000"}
                300 ~ 1000
              %option{:value => "1000-5000"}
                1000 ~ 5000
              %option{:value => "5000-10000"}
                5000 ~ 10000
              %option{:value => "10000-30000"}
                10000 ~ 30000
              %option{:value => "30000-50000"}
                30000 ~ 50000
              %option{:value => "50000"}
                50000 ~
            %i.fas.fa-angle-down
          %input.input-default{"data-search" => "price-min", :name => "price_min", :placeholder => "¥ Min", :type => "number", :value => ""}
          %span ~
          %input.input-default_2{"data-search" => "price-max", :name => "price_max", :placeholder => "¥ Max", :type => "number", :value => ""}
        .form-group.clearfix
          %label
            %i.fas.fa-star
            %span 商品の状態
          %div
            .checkbox-default_5
              %input#condition_all{"data-search" => "all", :name => "condition_all", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "condition_all"} すべて
            .checkbox-default_5
              %input{:id => "item_condition_id[1]", :name => "item_condition_id[1]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "item_condition_id[1]"} 新品、未使用
            .checkbox-default_5
              %input{:id => "item_condition_id[2]", :name => "item_condition_id[2]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "item_condition_id[2]"} 未使用に近い
            .checkbox-default_5
              %input{:id => "item_condition_id[3]", :name => "item_condition_id[3]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "item_condition_id[3]"} 目立った傷や汚れなし
            .checkbox-default_5
              %input{:id => "item_condition_id[4]", :name => "item_condition_id[4]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "item_condition_id[4]"} やや傷や汚れあり
            .checkbox-default_5
              %input{:id => "item_condition_id[5]", :name => "item_condition_id[5]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "item_condition_id[5]"} 傷や汚れあり
            .checkbox-default_5
              %input{:id => "item_condition_id[6]", :name => "item_condition_id[6]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "item_condition_id[6]"} 全体的に状態が悪い
        .form-group.clearfix
          %label
            %i.fas.fa-truck
            %span 配送料の負担
          %div
            .checkbox-default_5
              %input#shipping_payer_all{"data-search" => "all", :name => "shipping_payer_all", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "shipping_payer_all"} すべて
            .checkbox-default_5
              %input{:id => "shipping_payer_id[1]", :name => "shipping_payer_id[1]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "shipping_payer_id[1]"} 着払い(購入者負担)
            .checkbox-default_5
              %input{:id => "shipping_payer_id[2]", :name => "shipping_payer_id[2]", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "shipping_payer_id[2]"} 送料込み(出品者負担)
        .form-group.clearfix
          %label
            %i.fas.fa-shopping-cart
            %span 販売状況
          %div
            .checkbox-default_5
              %input#status_all{"data-search" => "all", :name => "status_all", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "status_all"} すべて
            .checkbox-default_5
              %input#status_on_sale{:name => "status_on_sale", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "status_on_sale"} 販売中
            .checkbox-default_5
              %input#status_trading_sold_out{:name => "status_trading_sold_out", :type => "checkbox", :value => "1"}/
              %i.icon-check_5
              %label{:for => "status_trading_sold_out"} 売り切れ
      .search-extend-btn-empty
      .search-extend-btn_5.clearfix
        .btn-default.btn-gray{"data-search" => "reset"} クリア
        %button.btn-default.btn-red{:type => "submit"} 完了

= render partial: 'items/shared/footer'
